<header class="jumbotron">
  <div class="container">
    <h1 class="">OpenActive API Dashboard</h1>
    <p>A dashboard to support OpenActive API users &amp; publishers.</p>
  </div>
</header>

<div class="container">

<p>Last updated: <%= last_updated ? last_updated.httpdate : "Never" %></p>
<table class="table table-hover datasets-table">
  <thead>
  <tr>
    <th scope="col">Provider</th>
    <th scope="col">Endpoint</th>
    <th scope="col">
      <a target="_blank" title="Read paging specification" href="https://www.openactive.io/realtime-paged-data-exchange/">Uses paging spec?</a></th>
    <th scope="col">
      <a target="_blank" title="Read opportunity data specification" href="https://www.openactive.io/modelling-opportunity-data/">Uses opportunity model?</a></th>
    <th scope="col">Issues</th>
    <th scope="col">Licence</th>
  </tr>
  </thead>
  <tbody>
  <% for key in datasets.keys; dataset = datasets[key] %>
    <tr class="dataset-meta">
      <td>
        <a href="<%= dataset["dataset-site-url"] %>" target="_blank"><%= dataset["publisher-name"] %></a><br/>
      </td>
      <td class="endpoint-availability">
        <a href="<%= dataset["data-url"] %>" target="_blank">
          <%= availability_indicator(availability, dataset["data-url"]) %>
        </a>
      </td>
      <td><%= yesno_indicator(dataset["uses-paging-spec"]) %></td>
      <td><%= yesno_indicator(dataset["uses-opportunity-model"]) %></td>
      <td>
        <a href="<%= dataset["documentation-url"] %>/issues" target="_blank">
        <% if dataset["github-issues"].nil? %>
          -
        <% else %>
          <%= dataset["github-issues"] %>
        <% end %>
        </a>
      </td>
      <td>
        <a title="<%= dataset["license-name"] %>" href="<%= dataset["license-url"] %>" target="_blank">
        <%= licence_image(dataset["license-url"]) %></a>
      </td>
    </tr>
  <% end %>
</tbody>
</table>

<p>
<a class="btn btn-secondary" href="/datasets.json" download="openactive-datasets.json" target="_blank">Download JSON List</a></p>

<small><a href="#page-wrapper">[top]</a></small>
</div>
